-# トップページ

-# へッター
= render 'header'

-# スライドショー部分
= render 'top-slider'

-# 出品ボタン
= link_to new_item_path, class: "float-sell-btn" do
  .sell 出品
  %i.fa.fa-camera

-# 商品一覧
%section.pickup-container
  %h2.pickup-container__head
    = "ピックアップカテゴリー"
  = render 'top-body'

%section.pickup-container
  %h2.pickup-container__head
    = "ピックアップブランド"
  = render 'top-body'

-# バナー
= render 'app-banner'

-# フッター
= render 'footer'
