-# ログアウト画面
.wrapper

  -# ヘッダー
  = render 'shared/header'

  -# 出品ボタン
  = render 'shared/sell-button'

  %main.container
    = render 'shared/mypage-left-contents'
    .container__right
      .container__right__chapter
        = form_with url: signout_users_path, class:  "container__right__chapter__singout_button" do |f|
          .container__right__chapter__singout_button__form
            = f.submit "ログアウト", class: "sign-out"

  -# フッター
  = render 'shared/app-banner'
  = render 'shared/footer'
