-# ログアウト画面
.wrapper

  -# ヘッダー
  = render 'shared/header'

  -# 出品ボタン
  = render 'shared/sell-button'

  %main.container
    = render 'shared/mypage-left-contents'
    .container__right
      .container__right__chapter
        .container__right__chapter__singout_button
          .container__right__chapter__singout_button__form
            = link_to 'ログアウト', destroy_tbl_user_session_path, method: :delete, class: "sign-out"

  -# フッター
  = render 'shared/app-banner'
  = render 'shared/footer'
