-# 商品詳細メイン部分  
.exhibit-container__product-datail__main
  .exhibit-container__product-datail__main__left
    .exhibit-container__product-datail__main__left__main-image
      = image_tag @image[0].image.url, class: 'main-image-size'
    .exhibit-container__product-datail__main__left__sub-images
      - 10.times do |i|
        = image_tag @image[i].image.url, alt:'商品画像'+i.to_s,class: 'sub-image-size' if @image[i].present?

  %table.exhibit-container__product-datail__main__right
    %tbody
      %tr
        %th.datail-header 出品者
        %td.datail-data.link-text
          = link_to @product.tbl_user.tbl_profile.nickname
      %tr
        %th.datail-header カテゴリー
        %td.datail-data.link-text
          = link_to @product.mst_major_category.name
      %tr 
        %th.datail-header ブランド          
        %td.datail-data.link-text
          -# = link_to @product.mst_brand.name
      %tr 
        %th.datail-header 商品の状態      
        %td.datail-data
          = @product.mst_condition.name
      %tr 
        %th.datail-header 発送料の負担     
        %td.datail-data 
          = @product.mst_burden.name
      %tr 
        %th.datail-header 配送の方法    
        %td.datail-data 
          -# = @product.mst_delivery_method.name
      %tr 
        %th.datail-header 発送元地域    
        %td.datail-data.link-text
          = link_to @product.mst_prefecture.name

      %tr 
        %th.datail-header 発送日の目安   
        %td.datail-data
          = @product.mst_delivery_time.name
