// トップページの商品一覧部分
-# CSS: modules/top-body

%section.pickup-container__items
  %h3.pickup-container__items__text
    = link_to "レディース 新着アイテム", root_path, target: ""
  .pickup-container__items__box
    %section.pickup-container__items__box__content
      = link_to root_path, target: "" do
        %figure.pickup-container__items__box__content__photo
          = image_tag 'test', alt: '商品の画像', class: 'pickup-container__items__box__content__photo__image'
        .pickup-container__items__box__content__body
          %h3.pickup-container__items__box__content__body__item-name
            = "バーバリーブルーレーベルタンクトップ 3枚dddddddddddddddddddddddd"
          .pickup-container__items__box__content__body__item-box
            .pickup-container__items__box__content__body__item-box__price
              = "¥ 2,400"
            .pickup-container__items__box__content__body__item-box__likes
              %i.fa.fa-heart
              %span 1

    %section.pickup-container__items__box__content
      = link_to root_path, target: "" do
        %figure.pickup-container__items__box__content__photo
          = image_tag 'test', alt: '商品の画像', class: 'pickup-container__items__box__content__photo__image'
        .pickup-container__items__box__content__body
          %h3.pickup-container__items__box__content__body__item-name
            = "バーバリーブルーレーベルタンクトップ 3枚dddddddddddddddddddddddd"
          .pickup-container__items__box__content__body__item-box
            .pickup-container__items__box__content__body__item-box__price
              = "¥ 2,400"
            .pickup-container__items__box__content__body__item-box__likes
              %i.fa.fa-heart
              %span 1

    %section.pickup-container__items__box__content
      = link_to root_path, target: "" do
        %figure.pickup-container__items__box__content__photo
          = image_tag 'test', alt: '商品の画像', class: 'pickup-container__items__box__content__photo__image'
        .pickup-container__items__box__content__body
          %h3.pickup-container__items__box__content__body__item-name
            = "バーバリーブルーレーベルタンクトップ 3枚dddddddddddddddddddddddd"
          .pickup-container__items__box__content__body__item-box
            .pickup-container__items__box__content__body__item-box__price
              = "¥ 2,400"
            .pickup-container__items__box__content__body__item-box__likes
              %i.fa.fa-heart
              %span 1

    %section.pickup-container__items__box__content
      = link_to root_path, target: "" do
        %figure.pickup-container__items__box__content__photo
          = image_tag 'test', alt: '商品の画像', class: 'pickup-container__items__box__content__photo__image'
        .pickup-container__items__box__content__body
          %h3.pickup-container__items__box__content__body__item-name
            = "バーバリーブルーレーベルタンクトップ 3枚dddddddddddddddddddddddd"
          .pickup-container__items__box__content__body__item-box
            .pickup-container__items__box__content__body__item-box__price
              = "¥ 2,400"
            .pickup-container__items__box__content__body__item-box__likes
              %i.fa.fa-heart
              %span 1

  .pickup-container__items__view-all
    = link_to "すべての商品を見る", root_path, target: "" 

%section.pickup-container__items
  %h3.pickup-container__items__text
    = link_to "メンズ 新着アイテム", root_path, target: ""
  .pickup-container__items__box
    %section.pickup-container__items__box__content
      = link_to root_path, target: "" do
        %figure.pickup-container__items__box__content__photo
          = image_tag 'test', alt: '商品の画像', class: 'pickup-container__items__box__content__photo__image'
        .pickup-container__items__box__content__body
          %h3.pickup-container__items__box__content__body__item-name
            = "バーバリーブルーレーベルタンクトップ 3枚dddddddddddddddddddddddd"
          .pickup-container__items__box__content__body__item-box
            .pickup-container__items__box__content__body__item-box__price
              = "¥ 2,400"
            .pickup-container__items__box__content__body__item-box__likes
              %i.fa.fa-heart
              %span 1

    %section.pickup-container__items__box__content
      = link_to root_path, target: "" do
        %figure.pickup-container__items__box__content__photo
          = image_tag 'test', alt: '商品の画像', class: 'pickup-container__items__box__content__photo__image'
        .pickup-container__items__box__content__body
          %h3.pickup-container__items__box__content__body__item-name
            = "バーバリーブルーレーベルタンクトップ 3枚dddddddddddddddddddddddd"
          .pickup-container__items__box__content__body__item-box
            .pickup-container__items__box__content__body__item-box__price
              = "¥ 2,400"
            .pickup-container__items__box__content__body__item-box__likes
              %i.fa.fa-heart
              %span 1

    %section.pickup-container__items__box__content
      = link_to root_path, target: "" do
        %figure.pickup-container__items__box__content__photo
          = image_tag 'test', alt: '商品の画像', class: 'pickup-container__items__box__content__photo__image'
        .pickup-container__items__box__content__body
          %h3.pickup-container__items__box__content__body__item-name
            = "バーバリーブルーレーベルタンクトップ 3枚dddddddddddddddddddddddd"
          .pickup-container__items__box__content__body__item-box
            .pickup-container__items__box__content__body__item-box__price
              = "¥ 2,400"
            .pickup-container__items__box__content__body__item-box__likes
              %i.fa.fa-heart
              %span 1

    %section.pickup-container__items__box__content
      = link_to root_path, target: "" do
        %figure.pickup-container__items__box__content__photo
          = image_tag 'test', alt: '商品の画像', class: 'pickup-container__items__box__content__photo__image'
        .pickup-container__items__box__content__body
          %h3.pickup-container__items__box__content__body__item-name
            = "バーバリーブルーレーベルタンクトップ 3枚dddddddddddddddddddddddd"
          .pickup-container__items__box__content__body__item-box
            .pickup-container__items__box__content__body__item-box__price
              = "¥ 2,400"
            .pickup-container__items__box__content__body__item-box__likes
              %i.fa.fa-heart
              %span 1

  .pickup-container__items__view-all
    = link_to "すべての商品を見る", root_path, target: "" 

%section.pickup-container__items
  %h3.pickup-container__items__text
    = link_to "ベビー・キッズ 新着アイテム", root_path, target: ""
  .pickup-container__items__box
    %section.pickup-container__items__box__content
      = link_to root_path, target: "" do
        %figure.pickup-container__items__box__content__photo
          = image_tag 'test', alt: '商品の画像', class: 'pickup-container__items__box__content__photo__image'
        .pickup-container__items__box__content__body
          %h3.pickup-container__items__box__content__body__item-name
            = "バーバリーブルーレーベルタンクトップ 3枚dddddddddddddddddddddddd"
          .pickup-container__items__box__content__body__item-box
            .pickup-container__items__box__content__body__item-box__price
              = "¥ 2,400"
            .pickup-container__items__box__content__body__item-box__likes
              %i.fa.fa-heart
              %span 1

    %section.pickup-container__items__box__content
      = link_to root_path, target: "" do
        %figure.pickup-container__items__box__content__photo
          = image_tag 'test', alt: '商品の画像', class: 'pickup-container__items__box__content__photo__image'
        .pickup-container__items__box__content__body
          %h3.pickup-container__items__box__content__body__item-name
            = "バーバリーブルーレーベルタンクトップ 3枚dddddddddddddddddddddddd"
          .pickup-container__items__box__content__body__item-box
            .pickup-container__items__box__content__body__item-box__price
              = "¥ 2,400"
            .pickup-container__items__box__content__body__item-box__likes
              %i.fa.fa-heart
              %span 1

    %section.pickup-container__items__box__content
      = link_to root_path, target: "" do
        %figure.pickup-container__items__box__content__photo
          = image_tag 'test', alt: '商品の画像', class: 'pickup-container__items__box__content__photo__image'
        .pickup-container__items__box__content__body
          %h3.pickup-container__items__box__content__body__item-name
            = "バーバリーブルーレーベルタンクトップ 3枚dddddddddddddddddddddddd"
          .pickup-container__items__box__content__body__item-box
            .pickup-container__items__box__content__body__item-box__price
              = "¥ 2,400"
            .pickup-container__items__box__content__body__item-box__likes
              %i.fa.fa-heart
              %span 1

    %section.pickup-container__items__box__content
      = link_to root_path, target: "" do
        %figure.pickup-container__items__box__content__photo
          = image_tag 'test', alt: '商品の画像', class: 'pickup-container__items__box__content__photo__image'
        .pickup-container__items__box__content__body
          %h3.pickup-container__items__box__content__body__item-name
            = "バーバリーブルーレーベルタンクトップ 3枚dddddddddddddddddddddddd"
          .pickup-container__items__box__content__body__item-box
            .pickup-container__items__box__content__body__item-box__price
              = "¥ 2,400"
            .pickup-container__items__box__content__body__item-box__likes
              %i.fa.fa-heart
              %span 1

  .pickup-container__items__view-all
    = link_to "すべての商品を見る", root_path, target: "" 

%section.pickup-container__items
  %h3.pickup-container__items__text
    = link_to "コスメ・香水・美容 新着アイテム", root_path, target: ""
  .pickup-container__items__box
    %section.pickup-container__items__box__content
      = link_to root_path, target: "" do
        %figure.pickup-container__items__box__content__photo
          = image_tag 'test', alt: '商品の画像', class: 'pickup-container__items__box__content__photo__image'
        .pickup-container__items__box__content__body
          %h3.pickup-container__items__box__content__body__item-name
            = "バーバリーブルーレーベルタンクトップ 3枚dddddddddddddddddddddddd"
          .pickup-container__items__box__content__body__item-box
            .pickup-container__items__box__content__body__item-box__price
              = "¥ 2,400"
            .pickup-container__items__box__content__body__item-box__likes
              %i.fa.fa-heart
              %span 1

    %section.pickup-container__items__box__content
      = link_to root_path, target: "" do
        %figure.pickup-container__items__box__content__photo
          = image_tag 'test', alt: '商品の画像', class: 'pickup-container__items__box__content__photo__image'
        .pickup-container__items__box__content__body
          %h3.pickup-container__items__box__content__body__item-name
            = "バーバリーブルーレーベルタンクトップ 3枚dddddddddddddddddddddddd"
          .pickup-container__items__box__content__body__item-box
            .pickup-container__items__box__content__body__item-box__price
              = "¥ 2,400"
            .pickup-container__items__box__content__body__item-box__likes
              %i.fa.fa-heart
              %span 1

    %section.pickup-container__items__box__content
      = link_to root_path, target: "" do
        %figure.pickup-container__items__box__content__photo
          = image_tag 'test', alt: '商品の画像', class: 'pickup-container__items__box__content__photo__image'
        .pickup-container__items__box__content__body
          %h3.pickup-container__items__box__content__body__item-name
            = "バーバリーブルーレーベルタンクトップ 3枚dddddddddddddddddddddddd"
          .pickup-container__items__box__content__body__item-box
            .pickup-container__items__box__content__body__item-box__price
              = "¥ 2,400"
            .pickup-container__items__box__content__body__item-box__likes
              %i.fa.fa-heart
              %span 1

    %section.pickup-container__items__box__content
      = link_to root_path, target: "" do
        %figure.pickup-container__items__box__content__photo
          = image_tag 'test', alt: '商品の画像', class: 'pickup-container__items__box__content__photo__image'
        .pickup-container__items__box__content__body
          %h3.pickup-container__items__box__content__body__item-name
            = "バーバリーブルーレーベルタンクトップ 3枚dddddddddddddddddddddddd"
          .pickup-container__items__box__content__body__item-box
            .pickup-container__items__box__content__body__item-box__price
              = "¥ 2,400"
            .pickup-container__items__box__content__body__item-box__likes
              %i.fa.fa-heart
              %span 1

  .pickup-container__items__view-all
    = link_to "すべての商品を見る", root_path, target: "" 
