-# トップページ
.wrapper

  -# へッター
  = render 'shared/header'

  -# スライドショー部分
  = render 'top-slider'

  -# 出品ボタン
  = render 'shared/sell-button'

  -# 商品一覧
  %section.pickup-container
    %h2.pickup-container__head
      = "ピックアップカテゴリー"
    = render 'top-body'

  %section.pickup-container
    %h2.pickup-container__head
      = "ピックアップブランド"
    = render 'top-body'

  -# バナー
  = render 'shared/app-banner'

  -# フッター
  = render 'shared/footer'
